.jar {
  width: 100vw;
  height:calc( 100vh - 150px );
  display: flex;
  justify-content: center;
  @media (max-width: 480px) {
    height:calc( 100vh - 150px );
  }
  &.essentials .icon {
    background-image: url(../img/essentialoils.svg);
    background-position: 70% 30%;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &.actives .icon2 {
    background-image: url(../img/actives.svg);
    background-position: 100% 50%;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 10;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .jar-container {
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 473px;
    height: 440px;
    p {
      position: absolute;
      z-index: 2;
      font-size: 17px;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      color: $black;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 30px;
      bottom: 15%;
      &.title {
        bottom: 25%;
      }
    }
    img {
      width: 473px;
      height: 440px;
      position: relative;
      z-index: 1;
    }
    .jar-filling {
      height: 440px;
      overflow: hidden;
      width: 99%;
      position: absolute;
      bottom: 2px;
      left: 1px;
      span {
        position: absolute;
        background: #E0D2A4;
        width: 150%;
        height: 40%;
        bottom: 0;
        display: block;
        border-top-right-radius: 50%;
        border-top: 2px solid rgba(255,255,255,.5);
        animation: curve 4s infinite ease;
        animation-delay: .5s;
        background-clip: border-box;
        transform: rotate(-2deg);
        box-shadow: inset 0 10px 20px rgba(255,255,255,.2),
        inset 0 -10px 20px rgba(0,0,0,.4);
      }
    }
  }
}
@keyframes curve {
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    transform: rotate(2deg);
  }
}

@media (max-width: 735px) {
  .jar-container {
    zoom: 90%;
  }
}@media (max-width: 630px) {
  .jar-container {
    zoom: 80%;
  }
}
@media (max-width: 530px) {
  .jar-container {
    zoom: 70%;
  }
}
@media (max-width: 473px) {
  .jar-container {
    zoom: 60%;
  }
}
@media (max-width: 400px) {
  .jar-container {
    zoom: 50%;
  }
}
@media (max-width: 360px) {
  .jar-container {
    zoom: 30%;
  }
}

@media (max-height: 740px) {
  .jar-container {
    zoom: 80%;
  }
}
@media (max-height: 630px) {
  .jar-container {
    zoom: 60%;
  }
}
@media (max-height: 530px) {
  .jar-container {
    zoom: 45%;
  }
}
@media (max-height: 465px) {
  .jar-container {
    zoom: 30%;
  }
}
@media (max-height: 400px) {
  .jar-container {
    zoom: 20%;
  }
}
@media (max-height: 360px) {
  .jar-container {
    zoom: 10%;
  }
}
@media (height: 640px) and (width: 360px) {
  .jar-container {
    zoom: 70%;
  }
}
@media (width: 375px) and (height: 667px) {
  .jar-container {
    zoom: 60%!important;
  }
}
@media (height: 320px) and (width: 568px) {
  .jar-container {
    zoom: 15%!important;
  }
}
@media (width: 480px) and (height: 320px) {
  .jar-container {
    zoom: 30%!important;
  }
}
